.section-logo{
  width: 100%;
  background-color: blue;
}

.Logotip {
  margin-left: 2%;
  margin-right: 2%;
  margin-top: 1%;
  height: 18px;
}

.Logo {
  display: flex;
  justify-content: space-between;

}

.Navv {
  margin-top: 1%;
  margin-right: 1%;
  margin-left: 15px;
  display: flex;
  font-size: 7px;
}

.input {
  height: 15px;
}

.Click {
  width: 23px;
  height: 21px;
  border: 1px solid;
  border-radius: 2px;
  margin-right: 2px;
  background-color: rgb(176, 176, 176);
}

.Click img {
  padding-bottom: 1px;
  padding-right: 1px;
  width: 12px;
  margin-right: 5px;

}

.chel img {
  padding-right: 2px;
  margin-top: 1px;
  height: 12px;
}

.Nav {
  margin-left: 15px;
  display: flex;
  font-size: 14px;
  gap: 10px;
}

.Nav a {
  text-decoration: none;
  color: black;
}
.wrapper-catigory{
  width: 100%;
  margin-top: 10px;
}

.catigory_list a {
  margin-left: 15px;
  font-size: 16px;
  font-weight: 400;
  color: black;
  text-decoration: none;
}

.catigory_list {
  display: flex;
  flex-direction: column;
  float: left;
  margin-top: 10px;
  margin-left: 1%;
  gap: 5px;
  overflow-y: scroll;
}
.catigory-shop{
  width: 100%;
}
.aaa{
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  gap: 35px;
  overflow-y: scroll;
  margin-left: 20px;
}

.aaa li img{
  width: 70px;
  border-radius: 50%;
  background-color: bisque;
}
.nadpis{
  font-size: 12px;
  font-weight: 500;
  margin-left: 10px;
  line-height: 14px;
}


.shop{
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  gap: 35px;
  width: 100%;
  overflow-y: scroll;
}
.shop li img{
  width: 70px;
  border-radius: 50%;
  background-color: bisque;
}


